<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Courses : 
    <ul>
        {{range .Courses}}
            <li>
                <p>{{.Name}}</p>
                <p>Lecturer : {{.Teacher.Name}}</p>
                Students :
                <ul>
                    {{range .Students}}
                        <li>
                            <p>{{.Name}}</p>
                        </li>
                    {{end}}
                </ul>
            </li>
        {{end}}
    </ul>
</body>
</html>
