{{template "header" .}}
{{template "navbar" .}}

<div class="container">
    <h4 class="title is-4">Course Details 🔍</h4>
    <h1 class="title is-1">📕 {{.course.Name}}</h1>
    <div class="columns">
        <div class="column">
            <div class="card" style="min-height: 150px;">
                <div class="card-content">
                    <div class="content">
                        <i class="bi bi-mortarboard-fill" style="font-size: 2em;"></i>&nbsp;&nbsp;&nbsp;
                        <a href="/lecturers/{{.course.LecturerID}}" class="title is-3 has-text-grey-light">{{.course.LecturerName}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="min-height: 150px;">
                <div class="card-content">
                    <div class="content">
                        <i class="bi bi-person-fill" style="font-size: 2em;"></i>&nbsp;&nbsp;&nbsp;
                        <span class="title is-3 has-text-grey-light"><span style="color: rgb(172, 0, 0)">{{.course.StudentCount}}</span> Student(s) Enrolled</span><br>
                        {{ if .isEnrolled }}
                        <span class="title is-5 has-text-success">(You are currently enrolled)</span>
                        {{ else }}
                        <span class="title is-5 has-text-danger">(You are currently not enrolled)</span>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="content">
                <i class="bi bi-chat-fill" style="font-size: 2em;"></i>&nbsp;&nbsp;&nbsp;
                <span class="title is-3 has-text-grey-light">{{.course.Description}}</span>
            </div>
        </div>
    </div>
    {{ if .isEnrolled }}
    <div class="card" >
        <div class="card-content">
            <div class="content has-text-centered">
                <h1 class="title is-3">You are enrolled</h1>
                <p>You are only able to un-enroll during the first week of the course</p>
                <div class="buttons is-centered is-grouped">
                    <a class="button is-dark" href="/courses"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Back to Courses</a>
                    <button id="unenroll_btn" class="button is-info">Un-enroll Now 🚶‍♂️</button>
                </div>
            </div>
        </div>
    </div>
    {{ else }}
    <div class="card" >
        <div class="card-content">
            <div class="content has-text-centered">
                <h1 class="title is-3">Ready to enroll?</h1>
                <p>By continuing, you agree to your profile and enrollment request being reviewed by the lecturer of this course</p>
                <div class="buttons is-centered is-grouped">
                    <a class="button is-dark" href="/courses"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Back to Courses</a>
                    {{ if .user_id }}
                    <button id="enroll_btn" class="button is-info">Enroll Now 🚀</button>
                    {{ else }}
                    <button onclick="alert('You must be logged in to enroll!')" class="button is-info">Enroll Now 🚀</button>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .isEnrolled }}
    <div class="card" >
        <div class="card-content">
            <div class="content has-text-centered">
                <h1 class="title is-3 has-text-centered">Posts by {{.course.LecturerName}} 📝</h1>
            </div>
        </div>
    </div>
    <div class="columns is-multiline">
        {{range .posts }}
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p class="title is-4"><a href="/post/{{.ID}}">{{.Title}} </a></p>
                        <p class="subtitle is-6">{{.Body}} </p>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{ else }}
    <div class="card" >
        <div class="card-content">
            <div class="content has-text-centered">
                <h1 class="title is-3 has-text-centered">Please enroll to view posts</h1>
            </div>
        </div>
    </div>
    <div class="columns is-multiline">
        <div class="column is-6">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <div class="skeleton-lines">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <div class="skeleton-lines">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<script>
    $("#enroll_btn").click(function() {
        $.ajax({
            url: "/api/enroll",
            type: "GET",
            data: {
                course_id: "{{.course.ID}}",
            },
            success: function(response) {
                alert(response.message);
                location.reload();
            },
            error: function(error) {
                alert(error.responseJSON.message);
            }
        });
    });

    $("#unenroll_btn").click(function() {
        $.ajax({
            url: "/api/unenroll",
            type: "GET",
            data: {
                course_id: "{{.course.ID}}",
            },
            success: function(response) {
                alert(response.message);
                location.reload();
            },
            error: function(error) {
                alert(error.responseJSON.message);
            }
        });
    });
</script>

{{template "footer" .}}